@font-face{
    font-family:KalamBold;
    src: url(../fonts/Kalam/Kalam-Bold.ttf);
}
@font-face{
    font-family:KalamRegular;
    src:url(../fonts/Kalam/Kalam-Regular.ttf)
}
@font-face{
    font-family:KalamLight;
    src: url(../fonts/Kalam/Kalam-Light.ttf)
}
@font-face{
    font-family:NunitoItalico;
    src:url(../fonts/Nunito/static/Nunito-Italic.ttf);
}
@font-face{
    font-family:NunitoLight;
    src:url(../fonts/Nunito/static/Nunito-Light.ttf);
}
@font-face{
    font-family:NunitoMedium;
    src:url(../fonts/Nunito/static/Nunito-Medium.ttf)
}
@font-face{
    font-family:NunitoRegular;
    src:url(../fonts/Nunito/static/Nunito-Regular.ttf);
}
@font-face{
    font-family:Cutive-Mono;
    src:url(../fonts/Cutive_Mono/CutiveMono-Regular.ttf)
}
body{
    background: -webkit-linear-gradient(50deg,#c0f8ff,#008cff);
    background-repeat: no-repeat;
}

.tp{
    text-align:center;
    font-family:KalamBold;
}

th.titulo{
    text-align:left;
    padding:0;
    font-size:14pt;
    text-shadow:2px 1px 2px black;
    font-family:NunitoLight;
}

td{
    height:20px;
    text-align:center;
}
.nprod{
    font-family:Cutive-Mono; 
    font-weight:bold;
}
#tbdata{
    padding:3px 15px;
}

table{
    margin:auto;
}

.ttbl{
    background:#6868f3; 
    color:white;
}

.cont{
    background: white;
}

.tot{
    text-align:center;
    background:#39ff39;
}

.ntot{
    background:yellow;
}

.tb01{
    margin-bottom:10px;
}

.tb02{
    border:2px groove;
    background:#424242;
    border-radius: 5px
}

hr{
    margin:0px 100px;
    margin-bottom: 10px;
}

.conf{
    background:greenyellow;
}

.conf:hover{
    background:green;
    color:white;
}

.dl{
    background:darkorange;
}

.dl:hover{
    background:red;
    color:white;
}

.conf,.dl{
    margin:0px 2px;
    padding:5px 25px;
}
